<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhishingScanner</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/images/logo-unicaribe.png" type="image/png" />
</head>
<body>
    <header>
        <div class="top-bar">
            <img src="~/images/logo-unicaribe.png" alt="Logo UNICARIBE" class="logo">
            <span class="title">PhishingScanner</span>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="footer-content">
            <p>Creado por el Grupo No. 2 para la materia de Taller de Programación I - Jueves - Julio - 202407-17695</p>
            <ul>
                <li>Eduard Alberto Disla Uribe Id: A00145566</li>
                <li>Dailyn José de la cruz Id: A00151439</li>
                <li>Jeirison Volquez Id: A00123414</li>
                <li>Marcos Junior Rodríguez Merlo Id: A00137515</li>
            </ul>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
